.nav_border{
    border-bottom: 1px solid black;

}

.footer_bar{
    border-top: 1px solid black;
}

.nav_padding{
    padding-right: 36px;
    padding-left: 36px;
    border-right: 1px solid black;
}

.body{
    font-family: "Times New Roman", sans-serif;
}


*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: 'Times New Roman', sans-serif;
}
.section{
	width: 100%;
	min-height: 100vh;
	background-color: rgb(255, 255, 255);
}
.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top: 100px;
}
.content-section{
	float: left;
	width: 55%;
}
.image-section{
	float: right;
	width: 40%;
}
.image-section img{
	width: 100%;
	height: auto;
}
.content-section .title{
	text-transform: uppercase;
	font-size: 28px;
}
.content-section .content h3{
	margin-top: 20px;
	color:#5d5d5d;
	font-size: 21px;
}
.content-section .content p{
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;
}
.content-section .content .button{
	margin-top: 30px;
}
.content-section .content .button a{
	background-color: #3d3d3d;
	padding:12px 40px;
	text-decoration: none;
	color:#ffffff;
	font-size: 25px;
	letter-spacing: 1.5px;
}
.content-section .content .button a:hover{
	background-color: #a52a2a;
	color:#fff;
}
.content-section .social{
	margin: 40px 40px;
}
.content-section .social i{
	color:#a52a2a;
	font-size: 30px;
	padding:0px 10px;
}
.content-section .social i:hover{
	color:#3d3d3d;
}
@media screen and (max-width: 768px){
	.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:50px;
}
.content-section{
	float:none;
	width:100%;
	display: block;
	margin:auto;
}
.image-section{
	float:none;
	width:100%;
	
}
.image-section img{
	width: 100%;
	height: auto;
	display: block;
	margin:auto;
}
.content-section .title{
	text-align: center;
	font-size: 19px;
}
.content-section .content .button{
	text-align: center;
}
.content-section .content .button a{
	padding:9px 30px;
}
.content-section .social{
	text-align: center;
}
	.vl {
		border-left: 1px solid black;
		height: 300px;
	}

	.vl0 {
		border-left: 0px solid black;
		height: 300px;
	}

	.hl {
		padding-top: 20px;
		border-bottom: 1px solid black;
		margin-bottom: 20px;
	}

	.hl0 {
		padding-top: 20px;
		border-bottom: 0px solid black;
		margin-bottom: 20px;
	}

	.pdt {
		padding-top: 100px;
	}

	.TextC {
		text-align: center;
	}

	.Bcenter {
		margin-top: 20px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}
 
}

@media only screen and (max-width: 760px),
(min-device-width: 802px) and (max-device-width: 1020px) {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;

	}

	.empty {
		display: none;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	th {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr {
		border: 1px solid #ccc;
	}

	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}



	/*
    Label the data
    */
	td:nth-of-type(1):before {
		content: "Sunday";
	}
	td:nth-of-type(2):before {
		content: "Monday";
	}
	td:nth-of-type(3):before {
		content: "Tuesday";
	}
	td:nth-of-type(4):before {
		content: "Wednesday";
	}
	td:nth-of-type(5):before {
		content: "Thursday";
	}
	td:nth-of-type(6):before {
		content: "Friday";
	}
	td:nth-of-type(7):before {
		content: "Saturday";
	}


}

/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	body {
		padding: 0;
		margin: 0;
	}
}

/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 802px) and (max-device-width: 1020px) {
	body {
		width: 495px;
	}
}

@media (min-width:641px) {
	table {
		table-layout: fixed;
	}
	td {
		width: 33%;
	}
}

.calendar_button{
	padding-bottom: 15px;
	text-align: center;
}

.row{
	margin-top: 20px;
}

.today{
	background:yellow;
}



/* star rating */
*{
    margin: 0;
    padding: 0;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
/* end of star rating */